body {
    background: #FAFFE0;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #8C1515;
  font-family: Impact, sans-serif;
  font-size: 20px;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover {
  background-color: #660E0E;
}

h1 {
    text-align: center;
    font-size: 18px;
    font-family: Geneva, sans-serif;
    color: #B55555;
}

#expect {
    font-size: 14px;
    font-family: Arial, sans-serif;
}

#table_title {
    text-align: center;
    font-size: 18px;
    font-family: Geneva, sans-serif;
    font-weight: bold;
    color: #B55555;
}

table {
    text-align: center;
    font-family: Arial, sans-serif;
    border-style: solid;
    border-width: 3px;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    background-color: #F2ECBB;
}

img {
    border-style: solid;
    border-width: 3px;
    border-radius: 3px;
    margin: 8px;
}

.ideas {
    font-size: 16px;
    font-family: Geneva, sans-serif;
    font-weight: bold;
}

